/*
0 - 600px       Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape
1200 - 1800px   is where out normal styles apply
1800px +:       Big desktop

$breakponit argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25rem) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* padding: 30px; */
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25rem) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  /* text-transform: uppercase; */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.5rem;
        font-size: 2rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-size: 1.5rem; } }

.heading__text--color {
  color: #08cc7a; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #708090, #777);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25rem) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-contact {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #708090, #777);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-contact:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25rem) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25rem) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }
  .btn--white:hover {
    background-color: #08cc7a; }

.btn--blue {
  background-color: #fff;
  color: #777; }
  .btn--blue::after {
    background-color: #fff; }
  .btn--blue:hover {
    color: #fff;
    background-color: #5643fa; }

.btn--pink {
  background-color: #fff;
  color: #777; }
  .btn--pink::after {
    background-color: #fff; }
  .btn--pink:hover {
    color: #fff;
    background-color: #9f1d35; }

.btn--green {
  background-color: #fff;
  color: #777; }
  .btn--green::after {
    background-color: #fff; }
  .btn--green:hover {
    color: #fff;
    background-color: #08cc7a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #08cc7a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #08cc7a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #08cc7a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 46rem; }
  .card__side {
    height: 46rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #9f1d35, #ff1493); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #08cc7a, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../img/onepage.png); }
    .card__picture--2 {
      background-image: url(../img/tindog.png); }
    .card__picture--3 {
      background-image: url(../img/starbuks.png); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-top: 6rem; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    --webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(159, 29, 53, 0.85), rgba(255, 20, 147, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(8, 204, 122, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  @media (max-width: 56.25rem) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__heading {
        margin-top: 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 2rem;
        transform: translate(0);
        width: 100%;
        text-align: center;
        padding: 7rem 7rem 7rem 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem; }
    @media (max-width: 56.25rem) {
      .composition__photo {
        float: left;
        position: relative;
        width: 50%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 30%;
      top: 2rem;
      animation: moveInRight 2s ease-in; }
      @media (max-width: 56.25rem) {
        .composition__photo--p1 {
          top: 0;
          left: 25%; } }
    .composition__photo:hover {
      outline: 1.5rem solid #708090;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  margin-bottom: -3rem; }
  @media (max-width: 56.25rem) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block; }
    @media (max-width: 56.25rem) {
      .feature-box__icon {
        margin-bottom: 0; } }
    .feature-box__icon--html {
      background-image: linear-gradient(to right, #e34c26, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--css {
      background-image: linear-gradient(to right, #264de4, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--js {
      background-image: linear-gradient(to right, #f0db4f, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--bootstrap {
      background-image: linear-gradient(to right, #563d7c, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--sass {
      background-image: linear-gradient(to right, #cc6699, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--react {
      background-image: linear-gradient(to right, #61DBFB, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--vuejs {
      background-image: linear-gradient(to right, #42b883, #35495e);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--node {
      background-image: linear-gradient(to right, #68a063, #3c873a);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--python {
      background-image: linear-gradient(to right bottom, #306998, #FFD43B);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--golang {
      background-image: linear-gradient(to right, #29BEB0, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--aws {
      background-image: linear-gradient(to right, #FF9900, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--docker {
      background-image: linear-gradient(to right, #0db7ed, #384d54);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--git {
      background-image: linear-gradient(to right, #f34f29, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--github {
      background-image: linear-gradient(to right, #171515, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--gitlab {
      background-image: linear-gradient(to right, #e24329, #fc6d26);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--redhat {
      background-image: linear-gradient(to right, #e5141f, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--ubuntu {
      background-image: linear-gradient(to right, #E95420, #777);
      -webkit-background-clip: text;
      color: transparent; }
    .feature-box__icon--windows {
      background-image: linear-gradient(to right, #00a4ef, #777);
      -webkit-background-clip: text;
      color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form {
  display: inline-block;
  text-align: left; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: #333;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block; }
    @media (max-width: 56.25rem) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #08cc7a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__textarea {
    font-size: 1.5rem;
    font-family: inherit;
    color: #333;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    height: 13rem;
    display: block; }
    .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #708090; }
    .form__textarea::-webkit-input-placeholder {
      color: #999; }
  .form__textarea:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(112, 128, 144, 0.8), rgba(47, 79, 79, 0.8)), url(../img/tanya.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @supports (clip-path: polygon(0 0)) or (--webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (--webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(47, 79, 79, 0.8), rgba(112, 128, 144, 0.8)), url(../img/tanya.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25rem) {
    .footer {
      padding: 8rem 0; } }
  .footer__social {
    text-align: center;
    margin-bottom: 8rem;
    font-size: 3.5rem;
    display: block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 3.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .footer__link--linkedin:hover, .footer__link--linkedin:active {
    color: #0e76a8;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__link--twitter:hover, .footer__link--twitter:active {
    color: #00acee;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__link--github:hover, .footer__link--github:active {
    color: #171515;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__link--facebook:hover, .footer__link--facebook:active {
    color: #3b5998;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -6rem; }
    .footer__copyright--link:link, .footer__copyright--link:visited {
      color: #f7f7f7;
      background-color: #333;
      text-decoration: none;
      display: inline-block;
      transition: all .2s; }
    .footer__copyright--link:hover, .footer__copyright--link:active {
      color: #08cc7a;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25rem) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25rem) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25rem) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25rem) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3 ) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4 ) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4 ) + 2 * 2rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25rem) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#708090, #2F4F4F);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  @media (max-width: 56.25rem) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 231%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #2F4F4F;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25rem) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(112, 128, 144, 0.8), rgba(47, 79, 79, 0.8)), url(../img/siarhei.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25rem) {
    .section-features {
      padding: 10rem 0; } }

.section-projects {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
  margin-bottom: -28rem; }
  @media (max-width: 56.25rem) {
    .section-projects {
      padding: 20rem 0 45rem 0; } }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #708090, #2F4F4F); }

.contact {
  background-image: linear-gradient(105deg, rgba(112, 128, 144, 0.9) 0%, rgba(47, 79, 79, 0.9) 50%, transparent 100%), url(../img/tom-reeder.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .contact {
      background-image: linear-gradient(105deg, rgba(112, 128, 144, 0.9) 0%, rgba(47, 79, 79, 0.9) 45%, transparent 95%), url(../img/tom-reeder.jpg);
      background-size: cover; } }
  @media (max-width: 56.25rem) {
    .contact {
      background-image: linear-gradient(105deg, rgba(112, 128, 144, 0.9) 0%, rgba(47, 79, 79, 0.9) 100%), url(../img/tom-reeder.jpg); } }
  .contact__form {
    width: 100%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .contact__form {
        width: 65%; } }
    @media (max-width: 56.25rem) {
      .contact__form {
        width: 100%; } }
    .contact__form--body {
      display: block;
      text-align: center; }
