$color-primary-slategrey: #708090;
$color-primary-grey: #808080;
$color-primary-darkslategrey: #2F4F4F;

$color-secondary-light: #9f1d35;
$color-secondary-dark: #ff1493;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-primary-green: #08cc7a;
$color-primary-green-dark: #28b485;

 $color-grey-light-1: #f7f7f7;
 $color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;
