.composition {
     position: relative;

     &__photo {
          width: 50%;
          box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
          border-radius: 20px;
          position: absolute;
          z-index: 10;
          // transition: all .2s
          outline-offset: 2rem;

          @include respond(tab-port) {
               float: left;
               position: relative;
               width: 50%;
               box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
          }

          &--p1 {
               left: 30%;
               top: 2rem;
               animation: moveInRight 2s ease-in;

               @include respond(tab-port) {
                    top: 0;
               }
          }

          &:hover {
               outline: 1.5rem solid $color-primary-slategrey;
               transform: scale(1.05);
               box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
               z-index: 20;
          }
     }

     &:hover &__photo:not(:hover) {
          transform: scale(.95);
     }
}