.form {
     display: inline-block;
     // margin-left: auto;
     // margin-right: auto;
     text-align: left;

     &__group:not(:last-child) {
          margin-bottom: 1rem;
     }

     &__input {
          font-size: 1.5rem;
          font-family: inherit;
          color: $color-grey-dark-2;
          padding: 1.5rem 2rem;
          border-radius: 2px;
          background-color: rgba($color-white, .5);
          border: none;
          border-bottom: 3px solid transparent;
          width: 100%;
          display: block;


          &:focus {
               outline: none;
               box-shadow: 0 1rem 2rem rgba($color-black, .1);
               border-bottom: 3px solid $color-primary-green;
          }

          &:focus:invalid {
               border-bottom: 3px solid #ff7730;
          }

          &::-webkit-input-placeholder {
               color: $color-grey-dark-1;
          }
     }

     &__label {
          color: $color-grey-dark-2;
          font-size: 1.2rem;
          font-weight: 700;
          margin-left: 2rem;
          margin-top: .7rem;
          display: block;
          transition: all .3s;

     }

     &__input:placeholder-shown + &__label {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-4rem);
     }

     &__textarea {
          font-size: 1.5rem;
          font-family: inherit;
          color: $color-grey-dark-2;
          padding: 1.5rem 2rem;
          border-radius: 2px;
          background-color: rgba($color-white, .5);
          border: none;
          border-bottom: 3px solid transparent;
          width: 100%;
          height: 13rem;
          display: block;

          &:focus {
               outline: none;
               box-shadow: 0 1rem 2rem rgba($color-black, .1);
               border-bottom: 3px solid $color-primary-slategrey;
          }

          &::-webkit-input-placeholder {
               color: $color-grey-dark-1;
          }
     }

     &__textarea:placeholder-shown + &__label {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-12rem);
     }
}